.terminal-container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  color-scheme: dark;
  background: #242424;
  padding: 1em;
  display: flex;
  flex-direction: column;
  max-height: 25vh;
  overflow: auto;
  transition: transform 0.2s ease-in-out;
  font-family: 'Press Start 2P', cursive;
  transform: translateY(-100%);

  & * {
    box-sizing: border-box;
    color: inherit;
    background: inherit;
    text-shadow: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
}

.terminal-container--open {
  transform: translateY(0);
}

.terminal-input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: inherit;
  text-shadow: inherit;
  flex: 1;
}

.terminal-input-container {
  display: flex;
}

.terminal-output-item--error {
  color: rgb(194, 84, 84);
}

.terminal-output-item {
  white-space: pre-wrap;
  word-break: break-all;
}
